@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h4 id="register-panel-heading">Create a new account.</h4>
        <div class="panel register-panel">
            <div class="panel-body register-panel-body">
                <form class="register-form" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <div class="icon-addon">
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                            <label for="Email" class="glyphicon glyphicon-envelope" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="icon-addon">
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <label for="Password" class="glyphicon glyphicon-lock" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="icon-addon">
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                            <label for="ConfirmPassword" class="glyphicon glyphicon-lock" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="register-form-submit btn btn-primary">Register</button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
